
<section style="margin-top: 200px;background-color:rgb(255, 255, 255); padding: 5rem; height: 100%; margin-top: 2rem;">
  <div class="container mt-5">
    <h2 class="text-center">User Management</h2>
    <table class="table mt-5" id="example">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone No</th>
          <th scope="col">Block/Unblock</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function(user,index) { %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%=user.username %></td>
            <td><%=user.email %></td>
            <td><%=user.phoneNo %></td>
            <% if(user.isBlocked ===false) { %>
            <td>
             
               <button class="confirm_del_btnn btn btn-danger" value="/<%= user._id %>">Block</button>

            </td>
           <% } else {%>
           <td>
            <button class="confirm_del_btn btn btn-primary" value="/<%= user._id %>">Unblock</button>
          </td>
            <% } %>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</section>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
    $(document).ready(function () {
        $('.confirm_del_btn').click(function (e) {

            var id = $(this).val();
            swal({
                title: "Are you sure?",
                text: "You can block user later",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/blockuser"+ id,
                            success: function (response) {
                                swal("User is unblocked!", {
                                    icon: "success",
                                }).then((confirmed) => {
                                    window.location.reload();
                                })
                            }
                        })
                    } else {
                        swal("User is still there!!");
                    }
                });
        })
    })
</script>

<script>
  $(document).ready(function () {
      $('.confirm_del_btnn').click(function (e) {

          var id = $(this).val();
          swal({
              title: "Are you sure?",
              text: "Once blocked, you can unblock later!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
          })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          url: "/unblockuser"+ id,
                          success: function (response) {
                              swal("User has been blocked!", {
                                  icon: "success",
                              }).then((confirmed) => {
                                  window.location.reload();
                              })
                          }
                      })
                  } else {
                      swal("You can block later");
                  }
              });
      })
  })
</script>



<script>


  $(document).ready(function() {
    $('#example').DataTable( {
        // dom: 'Bfrtip',
        // buttons: [
        //     'copy', 'csv', 'excel', 'pdf', 'print'
        // ]
    } );
} );

</script>