<section style="background-color: rgb(218, 208, 208); padding:2rem; height: 100%; margin-top: 2rem;  overflow-x: hidden;">
  <div class="container ">
    <div class="row mt-2">
      <h2 class="" style="margin-left:20rem ;">Product List</h2>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <% product.forEach(function(product) { %>
          <tr>
            <td>
              <%=product.name %>
            </td>
            <td>
              <%=product.category %>
            </td>
            <td>
              <%=product.price %>
            </td>
            <td>
              <%=product.stock %>
            </td>
            <td><img style="width:50px;height: 50px;" src="./image/<%=product._id %>.jpeg"
              /></td>
            <td>
              <a href="/admineditproduct/<%=product._id %>" class="btn btn-primary">Edit</a>
              <a href="/deleteproduct/<%=product._id %>" class="btn btn-danger"
                onclick="return confirm('Do you want to delete <%=product.name%> ?')">Delete</a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</section>