



<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="/addressEdit/<%=profile.address._id%>"  method="post" class="form-horizontal" role="form">
  <div style="margin:50px; margin-left: 500px;">
    <h1>Edit Address</h1>

  </div>

  
          <div class="form-group">
            <label for="inputAddressLine1" class="col-sm-2 control-label"> Address </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAddressLine1" name="address" placeholder="Address Line" value="<%=profile.address%>">
            </div>
          </div>

      
  
          <div class="form-group">
            <label for="inputCityTown" class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputCityTown" name="city" placeholder="City / Town" value="<%=profile.address.city%>">
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputStateProvinceRegion" class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="State" name="state" placeholder="State" value="<%=profile.address.state%>">
            </div>
          </div>

          

          
          <div class="form-group">
            <label for="inputZipPostalCode" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="country" name="country" placeholder="Country" value="<%=profile.address.country%>">
            </div>
          </div>
  
          <div class="form-group">
            <label for="inputZipPostalCode" class="col-sm-2 control-label">Zip / Postal Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputZipPostalCode" name="zip" placeholder="Zip / Postal Code" value="<%=profile.address.zip%>">
            </div>
          </div>


        <button class="btn btn-success mx-5" style="margin-bottom: 100px; margin-left: 200px; margin-top: 50px;"><span>Edit</span>

          </form></a>
      </div>
    </div>
  </div>
