<body>

	<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
						data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="/products">Cooking</a></li>
						<li><a href="/products">Dry Fruits</a></li>
						<li><a href="/products">Beverages</a></li>

						<% if(locals.user) { %>
							<li><a href="/wishlist">My wishlist</a></li>
							<li><a href="/cart">My Cart</a></li>
							<li><a href="/userProfile">My Profile</a></li>

							<% } %>

				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
		
			<div class="w3l_banner_nav_right">
				<section class="slider">
					<div class="flexslider">

						<ul class="slides">
							<% banner.slice(0,3).forEach(function(banner) { %>
							<li>
							
								<div class="w3l_banner_nav_right_banner1"
									style="background:url('./banner/<%=banner._id%>.jpeg') no-repeat 0px 0px;">
									<h3 style="color:black;">New <span style="color:#ffff;">Products</span> Updated
									</h3>
									<div class="more">
										<a href="/products" class="button--saqui button--round-l button--text-thick"
											data-text="Shop now">Shop now</a>
									</div>
								</div>
							
							</li>
							<%})%>
							<!-- <li>
								<div class="w3l_banner_nav_right_banner"
									style="background:url(../images/banner2.jpg) no-repeat 0px 0px;">
									<h3 style="color:white;">Make your <span style="color:yellow">food</span> more
										Spicy.</h3>
									<div class="more">
										<a href="/products" class="button--saqui button--round-l button--text-thick"
											data-text="Shop now">Shop now</a>
									</div>
								</div>
							</li>
							<li>
								<div class="w3l_banner_nav_right_banner2">
									<h3 style="color: black;">upto <i>50%</i> off.</h3>
									<div class="more">
										<a href="/products" class="button--saqui button--round-l button--text-thick"
											data-text="Shop now">Shop now</a>
									</div>
								</div>
							</li> -->
						</ul>
					</div>
				</section>
				<!-- flexSlider -->
				<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
				<script defer src="js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function () {
						$('.flexslider').flexslider({
							animation: "slide",
							start: function (slider) {
								$('body').removeClass('loading');
							}
						});
					});
				</script>
				<!-- //flexSlider -->
			</div>
			

				<div class="clearfix"></div>
	</div>
	<!-- banner -->
	<div class="banner_bottom">
		<div class="wthree_banner_bottom_left_grid_sub">
		</div>
		<div class="wthree_banner_bottom_left_grid_sub1">
			<% banner.slice(3,7).forEach(function(banner) { %>
			<div class="col-md-4 wthree_banner_bottom_left">
				<div class="wthree_banner_bottom_left_grid">
					<img src="./banner/<%=banner._id%>.jpeg" alt=" " class="img-responsive" />
					<div class="wthree_banner_bottom_left_grid_pos">
						<h3 style="color:black;font-weight:700"><span style="color:#fa1818 ;font-weight: 700;">Buy more</span> and <i style="color:#84c639;font-weight: 700">Save more ... </i></h3>
					</div>
				</div>
			</div>
			<%})%>
			<!-- <div class="col-md-4 wthree_banner_bottom_left">
				<div class="wthree_banner_bottom_left_grid">
					<img src="images/5.jpg" alt=" " class="img-responsive" />
					<div class="wthree_banner_btm_pos">
						<h3>introducing <span>best store</span> for <i>groceries</i></h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 wthree_banner_bottom_left">
				<div class="wthree_banner_bottom_left_grid">
					<img src="images/6.jpg" alt=" " class="img-responsive" />
					<div class="wthree_banner_btm_pos1">
						<h3>Save <span>Upto</span> Rs.100</h3>
					</div>
				</div>
			</div> -->
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Hot Offers</h3>
			<div class="agile_top_brands_grids">
				<% product.slice(0,4).forEach(function(product) { %>
					<% if(product.category==='Beverages' ) { %>
						<div class="col-md-3 top_brand_left">
							<div class="hover14 column">
								<div class="agile_top_brand_left_grid">
									<div class="tag"><img src="images/tag.png" alt=" " class="img-responsive" /></div>
									<div class="agile_top_brand_left_grid1">
										<figure>
											<div class="snipcart-item block">
												<div class="snipcart-thumb">
													<a href="/singleProduct?id=<%=product._id%>"><img title=" " alt=" "
															src="./image/<%=product._id %>.jpeg"
															style="height: 150px; width: 100px; height=" 180px"
															width="140px" /></a>
													<h4 class="mx-5">Rs. <%=product.discountedPrice%><span>Rs.
																<%=product.price%>
															</span>
															<h5 style="color: #84c639 ; text-decoration: none;">
																<%=product.offer%> %off
															</h5>
													</h4>
												</div>
												</h4>
												<!-- <button <a href="/checkout" ></a>class=" mx-5">More Products</button> -->
												<div class="snipcart-details top_brand_home_details">
													<!-- <form action="/checkout" method="post"> -->
													<!-- <fieldset> -->
													<!-- <input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name"
														value="<%=product.name %>" />
													<input type="hidden" name="amount" value="7.99" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " /> -->
													<a href="/products"> <input type="submit" name="submit"
															value="MORE PRODUCTS" class="button" /> </a>
													<!-- </fieldset> -->

													<!-- </form> -->

												</div>
											</div>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<%}%>
							<% }) %>

								<!-- <div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img title=" " alt=" " src="" /></a>
											<p></p>
											<h4>Rs.700 <span></span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="basmati rise" />
													<input type="hidden" name="amount" value="11.99" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/2.png" alt=" "
													class="img-responsive" /></a>
											<p>Pepsi soft drink (2 Ltr)</p>
											<h4>$8.00 <span>$10.00</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="Pepsi soft drink" />
													<input type="hidden" name="amount" value="8.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/4.png" alt=" "
													class="img-responsive" /></a>
											<p>dogs food (4 Kg)</p>
											<h4>$9.00 <span>$11.00</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="dogs food" />
													<input type="hidden" name="amount" value="9.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div> -->

								<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //top-brands -->
	<!-- fresh-vegetables -->


	<div class="top-brands">
		<div class="container">
			<h3>Top Products</h3>
			<div class="agile_top_brands_grids">
				<% product.slice(0,12).forEach(function(product) { %>
					<% if(product.category==='Cooking' ) { %>
						<div class="col-md-3 top_brand_left">
							<div class="hover14 column">
								<div class="agile_top_brand_left_grid">
									<div class="tag"><img src="images/tag.png" alt=" " class="img-responsive" /></div>
									<div class="agile_top_brand_left_grid1">
										<figure>
											<div class="snipcart-item block">
												<div class="snipcart-thumb">
													<a href="/singleProduct?id=<%=product._id%>"><img title=" " alt=" "
															src="./image/<%=product._id %>.jpeg"
															style="height: 140px; width: 100px; height=" 180px"
															width="140px" /></a>
													<h4 class="mx-2">Rs. <%=product.discountedPrice %><span>Rs.
																<%=product.price%>
															</span>
															<h5 style="color: #84c639 ; text-decoration: none;">
																<%=product.offer%>%off
															</h5>
													</h4>
												</div>
												</h4>
												<!-- <button <a href="/checkout" ></a>class=" mx-5">More Products</button> -->
												<div class="snipcart-details top_brand_home_details">
													<!-- <form action="/checkout" method="post"> -->
													<!-- <fieldset> -->
													<!-- <input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name"
														value="<%=product.name %>" />
													<input type="hidden" name="amount" value="7.99" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " /> -->
													<a href="/products"> <input type="submit" name="submit"
															value="MORE PRODUCTS" class="button" /> </a>
													<!-- </fieldset> -->

													<!-- </form> -->

												</div>
											</div>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<%}%>
							<% }) %>

								<!-- <div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img title=" " alt=" " src="" /></a>
											<p></p>
											<h4>Rs.700 <span></span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="basmati rise" />
													<input type="hidden" name="amount" value="11.99" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/2.png" alt=" "
													class="img-responsive" /></a>
											<p>Pepsi soft drink (2 Ltr)</p>
											<h4>$8.00 <span>$10.00</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="Pepsi soft drink" />
													<input type="hidden" name="amount" value="8.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/4.png" alt=" "
													class="img-responsive" /></a>
											<p>dogs food (4 Kg)</p>
											<h4>$9.00 <span>$11.00</span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="dogs food" />
													<input type="hidden" name="amount" value="9.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart"
														class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div> -->

								<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="js/minicart.js"></script>
	<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
</body>