

<table style="margin-top: 100px; margin-bottom: 400px; margin: auto;" class="timetable_sub">
    <thead>
        <tr>
            <th>SL No.</th>	
            <th>Product</th>
            <th>Quantity</th>
            <th>Order Status</th>
            <th>Date & time</th>
      
          
            <th>Cancel</th>
        </tr>
    </thead>
    <tbody>
       <% for(i=0; i<orderDetails.order.length; i++) { %>
   
        <tr class="rem1"> 
        <td class="invert"><%= i+1 %></td>
        <td class="invert"><%=orderDetails.order[i].name%></td>
        <td class="invert"><%=orderDetails.order[i].count%></td>
        <td class="invert"><%=orderDetails.order[i].orderStatus%></td>
        <td class="invert"><%=orderDetails.order[i].createdAt.toLocaleString()%></td>
        <td>

        <% if(orderDetails.order[i].orderStatus == 'Order cancelled') { %>
            <p class="btn btn-white" style="color: red;">Cancelled</p>
            <% } else { %>
    
       
     <a class="btn btn-danger" href="/cancelOrder/<%=orderDetails.order[i].unique%>">Cancel
     
        <% } %>
    </td></a> 
    <% } %>

</tbody></table>
