

<!-- <div class="d-flex">
  <div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom"> -->
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- <div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
						data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<!-- <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="/cooking">Cooking</a></li>
						<li><a href="/dryfruits">Dry Fruits</a></li>
						<li><a href="/beverages">Beverages</a></li>

						<% if(locals.user) { %>
							<li><a href="/wishlist">My wishlist</a></li>
							<li><a href="/checkout">My Cart</a></li>
							<li><a href="/userProfile">My Profile</a></li>
							
							<% } %>

				</div> -->
        <!-- /.navbar-collapse -->
			<!-- </nav>
		</div> -->



 <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-dark"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <!-- <img src="/images/> "
                          alt="Avatar" class="img-fluid my-5" style="width: 80px;border-radius: 38px;height: 80px;" /> -->
                          <!-- <h6>Username</h6>
                <h5><%= profile.username %></h5> -->
                <a href="/user_home/profile-edit" style="color: rgb(15, 14, 14);"><i class="fa-solid fa-pen-to-square proedi"></i></a>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h1>My Profile</h1>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <br>
                        <h3>Username</h3>
                        <p class="text"><%= profile.username %></p>
                      </div>
                    <div class="col-6 mb-3">
                        <br>
                      <h3>Email</h3>
                      <p class="text"><%= profile.email %></p>
                    </div>
                    <div class="col-6 mb-3">
                        <br>
                      <h3>Phone</h3>
                      <p class="text"><%= profile.phoneNo  %></p>
                    </div>
                
                      <% for(i=0; i<profile.address.length; i++) { %>
                    <div class="col-6 mb-3">
                        <br>
                      <h3>Address <%= i+1 %></h3>
                
                      <p class="text"><%= profile.address[i].address %></p>
                      <p class="text"><%= profile.address[i].city %></p>
                      <p class="text"><%= profile.address[i].state%></p>
                      <p class="text"><%= profile.address[i].country%></p>
                      <p class="text"><%= profile.address[i].zip%></p>
                      </div>
                      <% } %>
                      <!-- <form>
                        <div class="form-row">
                          <div class="col-7">
                            <input type="text" class="form-control" placeholder="City">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="State">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Zip">
                          </div>
                        </div>
                      </form> -->
                      <!-- <p class="text"><%= profile.phoneNo  %></p> -->
                    </div>
                  </div>
                 
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1" style="display: flex;  ">
                    <div class="col-6 mb-3">
                     <a href="/userProfileEdit"><button  class="btn btn-success" style="margin-bottom: 100px;"><span>Edit Profile</span></button></a> 
                    </div>

                    <div class="col-6" style="padding-left: 50px;">
                      <a href="/orderDetails"><button  class="btn btn-info" style="margin-bottom: 100px;"><span>My Orders</span></button></a> 
                     </div>

                     <div class="col-6" style="padding-left: 50px;">
                      <a href="/addAddress"><button  class="btn btn-warning" style="margin-bottom: 100px;"><span>Add Address</span></button></a> 
                     </div>
                    
                  </div>
                  <div class="d-flex justify-content-start">
                    <!-- <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>